body{
    background: #fbf4ec;
    }
.row{
    margin-right:0px;}

.col-md-8{
     padding-right : 0px;
     padding-left: 0px;
 }

.box1{
    position: relative;
    max-width: 1300px;
    margin: auto;
    padding: 0px;
    background: #975030;
    box-sizing: border-box;
    border-radius: 0px;
    }
#logo h1{
    padding: 0 40px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-family: 'Silk Serif';
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    }
nav{
    float: right;}
.clearfix{
    clear: both;
    }
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
    text-decoration: none;}
nav ul li a{
    font-family: 'silk serif';
    font-size: 22px;
    display: block;
    margin: 0px 0;
    padding: 5px 30px;
    text-decoration:none;
    color: #fff;
    }
.navbutton a{
    color: #fff;
    text-decoration: none;}

@media (max-width: 1300px)
{
  .box1{
    margin: 0px;
    }
}

.first{
    margin-top: 50px;
    margin-bottom: 100px;
    }
#leaf{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
    }
#border{
    max-width: 100%;
    height: auto;

    display: block;
    margin-left: 50px;
    z-index: 30px;
    }
#profpic{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 50%;
    padding-top: 70px;
    padding-bottom: 70px;

    }
.hijau{
    background:#677e6c;
    }
#hi{
    margin-top: 150px;
    margin-left: 20px;
    font-family:'Silk Serif';
    font-style:italic;
    font-weight:bold;
    font-size:70px;
    color:#fbf4ec;
    }
#desc{
    margin-left: 20px;
    font-family:'Silk Serif';
    font-size: 20px;
    color:#fbf4ec}
.foto{
    background-image: url("border1.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 200px;
    }
.footer-main-div{
    width: 100%;
    height: auto;
    margin: auto;
    background: #d6b1ab;
    padding: 20px 0px;
    }
.footer-socmed img{
    width: 20px;
    margin:auto;
    height: auto;
    }
.footer-socmed ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
    }
.footer-socmed ul li{
    display: inline-block;
    width: 50px;
    height: 20px;
    margin: 0px 30px;
    }
.footer-main-div h1{
    text-align: center;
    margin-left: 16px;
    font-family: "Silk Serif";
    font-weight: bold;
    font-size: 25px;
    }
#heading{
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    }
#my-desc{
    font-family: silk serif;
    font-weight: bold;
    font-size: 20px;
    }
.prof img{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
    }
#pas{
    padding-top: 40px;
    padding-bottom: 40px;
    }
#education{
    margin-top: 30px;
    color: #fbf4ec;
    text-align: center;
    font-family: arial;
    font-style: italic;
    font-weight: bold;
    }
#edu{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
    padding: 20px !important;
    }
#exp-ttl{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #677e6c;
    text-align: center;
    font-family: arial;
    font-style: italic;
    font-weight: bold;
    }
.expe h2{
    font-family: Arial;
    font-style: italic;
    font-size: 25px;
    }
.expe p{
    font-family: Silk serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    }
.expe{
    padding-top: 10px;
    padding-left: 120px;
    }
.port{
    background: url("porto-bg.jpg");
    height: 100%;
    }
.baris{
    text-align: center;
    padding: 0px;
    }
#foto-bsr{
    width: 350px;
    }
#foto-kcl{
    width: 300px;
    }
.tengah{
    width: 30%;}
#porttl{
    color: #975030;
    margin-left: 50px;
    font-family: arial;
    font-weight: bold;
    font-style: italic;
    font-size:38px;
    }
#contacttl{
    margin-left: 120px;
    font-size:38px;
    font-family: arial;
    font-weight: bold;
    font-style: italic;
    }
#connect-sosmed{
    width: 40px;
    }
#sosmed-name{
    font-family: silk serif;
    font-size: 18px;
    font-weight: bold;
    }
.quo{
    padding-top: 15px;
    }
#quote{
    font-family: silk serif;
    font-style: italic;
    font-weight: bold;
    color: #fbf4ec;
    text-align: center;
    }
#quote-au{
    font-family: arial;
    text-align: center;
    font-size:12px;
    color: #d6b1ab;
    }
.form-control {
    width: 100%;
    }
.sched{
    text-align:center;
    }
.add{
    padding-left: 60px;
    }
@media(max-width: 761px)
{
  .menu-toggle{
    margin: 15px;
    display: block;
    width: 40px;
    float: right;
    height: 40px;
    background: #ccc;
    cursor: pointer;
    text-align: center;
    font-size: 28px;
    color: #975030;
  }

  .menu-toggle: before{
    font-family: "fontAwesome" !important;
    font-weight: 900 !important;
    content: '\f0c9' important!;
    line-height: 40px;
  }
  .menu-toggle.active: before{
      content: "\f00d" important!;
  }
  .navbar{
    display: none ;
  }
  .navbar.active{
      background: #677e6c;
      display: block ;
      width: 100%;
  }
  .navbar.active ul{
    display: block;
  }
  .foto{
    padding-left: 10px;
  }
  #hi{
    text-align: center;
    margin-top: 40px;
  }
  #desc{
    text-align: center;
    margin-bottom: 40px;
  }
  .prof{
    margin: auto;
  }
  #heading{
    text-align: center;
  }
  #my-desc{
    text-align: center;
    padding-right: 10px;
    padding-left:10px;
  }
  #pas{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
    }
  #education{
  font-size: 2em;
  }
  #exp-ttl{
  font-size: 2em;
  }
  .expe{
  padding-left: 0px;
  text-align: center;
  }
  .foot{
  background: #d6b1ab;
  }
  #name{
      font-family:'Silk Serif';
      font-weight:bold;
      font-size: 20px;
      text-align: center;
      padding-top: 10px;
      margin-left: 10px;
      }

}