<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Naura's | About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/story4.css' %}" rel="stylesheet" type="text/css">

</head>
<body>

<div class="box1">
    <div id="logo">
        <a href="/"><h1>naura azka.</h1></a>
    </div>
    <div class = "menu-toggle"></div>
    <nav class="navbar">
        <ul class="navbutton">
            <li><a href="/about/">about</a></li>
            <li><a href="/portfolio/">portfolio</a></li>
            <li><a href="/contact/">contact</a></li>
            <li><a href="/post_schedule/">schedule</a></li>
        </ul>
    </nav>
    <div class="clearfix"></div>
</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function(){
    $('.menu-toggle').click(function(){
    $('.menu-toggle').toggleClass('active')
    $('.navbar').toggleClass('active')
    })
    })
    </script>

<div class = "abut" style="background: #d6b1ab">
    <div class = "row">
    </div>
    <div class = "row" style = "margin-top: 120px;">
        <div class = "col-md-2">

        </div>
        <div class = "col-md-3 prof">
            <img src = "{% static 'images/profile.png' %}" class="img-fluid" width="300 px">
        </div>
        <div class = "col-md-4">
            <h1 id="heading" style = "margin-top: 100px;">I 'M &nbsp N A U R A</h1>
            <p id="my-desc">and i’m a student who currently studying
                Computer Science in Universitas Indonesia.
                I’m a self-proclaimed dreamer, adventurer
                and a risk taker. </p>
        </div>
    </div>

    <div class = "row" style = "margin-top: 40px;">
        <div class = "col-md-3">

        </div>
        <div class = "col-md-4">
            <h1 id="heading" style = "padding-top: 150px;">I 'M &nbsp P A S S I O N A T E</h1>
            <p id="my-desc">
                about art. I love photography and making
                designs. I also dance for fun and professional
                purposes,  but i’m open to learn new things
                to expand my knowledge.
            </p>
        </div>
        <div class = "col-md-3">
            <img id="pas" src="{% static 'images/profile3.png' %}" class="img-fluid" width="250 px">
        </div>
    </div>

    <div class="row edu" style="background: #677E6c">
        <div class = "col-md-2">

        </div>
        <div class="col-md-8">
            <h1 id="education" > E D U C A T I O N</h1>
        </div>
        <div class = "col-md-2">

        </div>
    </div>
    <div class="row edu2" style="background: #677E6c">
        <div class = "col-md-2">

        </div>
        <div class = "col-md-8">
            <img id="edu" src="{% static 'images/education.png' %}" class="img-fluid" width="800px">
        </div>
        <div class = "col-md-2">

        </div>
    </div>

    <div class="row experience" style="background: #fbf4ec">
        <div class = "col-md-4">
        </div>
        <div class="col-md-4">
            <h1 id="exp-ttl" > E X P E R I E N C E</h1>
        </div>
    </div>

    <div class="row expe" style="background: #fbf4ec">
        <div class="col-md-6">
            <h2> COMPFEST 11 </h2>
            <p>Staff of Seminar - 2019</p>
        </div>
        <div class="col-md-6">
            <h2> COMPUTERS GET TOGETHER </h2>
            <p>Staff of Human Resource Development - 2019</p>
        </div>
    </div>
    <div class="row expe" style="background: #fbf4ec">
        <div class="col-md-6">
            <h2> RISTEK FASILKOM UI </h2>
            <p>Staff of Public Relations - 2019</p>
        </div>
        <div class="col-md-6">
            <h2> UNIVERSIADE UI </h2>
            <p>Staff of Documentation - 2018</p>
        </div>
    </div>
    <div class="row expe" style="background: #fbf4ec">
        <div class="col-md-6">
            <h2> COMPUTER SCIENCE LEAGUE </h2>
            <p>Staff of Publication, Documentation, and Creative - 2019</p>
        </div>
        <div class="col-md-6">
            <h2> MOONZHERCUP 6 </h2>
            <p>Staff of Documentation - 2017</p>
        </div>
    </div>

</div>
</body>
<footer>
    <div class="footer-main-div">
        <div class="row">
            <div class="col-md-12">
                <h1>naura azka.</h1>
            </div>
        </div>

        <div class="footer-socmed">
            <ul>
                <li><a href="https://twitter.com/naurazkah/" target="blank"><img src="{% static 'images/twitter.png' %}"></a></li>
                <li><a href="https://www.instagram.com/naurazka/" target="blank"><img src="{% static 'images/instagram-logo.png' %}"></a></li>
                <li><a href="https://www.linkedin.com/in/naura-azka-032631180/" target="blank"><img src="{% static 'images/linked-in-logo-of-two-letters.png' %}"></a></li>
            </ul>
        </div>
    </div>
</footer>





