<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Naura Azka Hanifa's</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/story4.css' %}" rel="stylesheet" type="text/css">

</head>
<body>

<div class="box1">
    <div id="logo">
        <a href="/"><h1>naura azka.</h1></a>
    </div>
    <div class = "menu-toggle"></div>
    <nav class="navbar">
        <ul class="navbutton">
            <li><a href="/about/">about</a></li>
            <li><a href="/portfolio/">portfolio</a></li>
            <li><a href="/contact/">contact</a></li>
            <li><a href="/post_schedule/">schedule</a></li>
        </ul>
    </nav>
    <div class="clearfix"></div>
</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function(){
    $('.menu-toggle').click(function(){
    $('.menu-toggle').toggleClass('active')
    $('.navbar').toggleClass('active')
    })
    })
    </script>

<div class = "connect" style="background: #d6b1ab">
    <div class = "row">
    </div>
    <div class="row" style="margin-top: 100px">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <h2 id="contacttl"> CONNECT WITH ME!  </h2>
        </div>
    </div>
    <div class = "row baris" style = "margin-top: 30px;">
        <div class = "col-md-6">
            <img id="connect-sosmed" src="{% static 'images/close-envelope.png' %}">
            <p id="sosmed-name"> naurazkah@gmail.com</p>
        </div>
        <div class = "col-md-6">
            <a href="https://www.instagram.com/naurazka/"><img id="connect-sosmed" src="{% static 'images/instagram-logo.png' %}"></a>
            <p id="sosmed-name"> naurazka</p>
        </div>
    </div>
    <div class = "row baris" style = "margin-top: 20px;">
        <div class = "col-md-6">
            <a href="https://www.linkedin.com/in/naura-azka-032631180/"><img id="connect-sosmed" src="{% static 'images/linked-in-logo-of-two-letters.png' %}"></a>
            <p id="sosmed-name"> Naura Azka</p>
        </div>
        <div class = "col-md-6">
            <a href="https://vsco.co/naurazka/images/1"><img id="connect-sosmed" src="{% static 'images/vsco.png' %}"></a>
            <p id="sosmed-name"> naurazka.vsco.co</p>
        </div>
    </div>
    <div class = "row baris" style = "margin-top: 20px; margin-bottom:20px">
        <div class = "col-md-6">
            <a href="https://twitter.com/naurazkah"><img id="connect-sosmed" src="{% static 'images/twitter.png' %}"></a>
            <p id="sosmed-name"> naurazkah</p>
        </div>
        <div class = "col-md-6">
            <img id="connect-sosmed" src="{% static 'images/chat.png' %}">
            <p id="sosmed-name"> +6287786510886 </p>
        </div>
    </div>
    <div class="row quo" style="background: #677e6c" >
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <h1 id="quote"> "Nothing will work" </h1>
        </div>

    </div>
    <div class="row quo" style="background: #677e6c">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <h1 id="quote"> unless you do </h1>
        </div>

    </div>
    <div class="row quo" style="background: #677e6c">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <h1 id="quote-au"> - M A Y A &nbsp A N G E L O U </h1>
        </div>

    </div>
</div>

</body>
<footer>
    <div class="footer-main-div">
        <div class="row">
            <div class="col-md-12">
                <h1>naura azka.</h1>
            </div>
        </div>

        <div class="footer-socmed">
            <ul>
                <li><a href="https://twitter.com/naurazkah/" target="blank"><img src="{% static 'images/twitter.png' %}"></a></li>
                <li><a href="https://www.instagram.com/naurazka/" target="blank"><img src="{% static 'images/instagram-logo.png' %}"></a></li>
                <li><a href="https://www.linkedin.com/in/naura-azka-032631180/" target="blank"><img src="{% static 'images/linked-in-logo-of-two-letters.png' %}"></a></li>
            </ul>
        </div>
    </div>
</footer>

