<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Naura's | Schedule</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/story4.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

<div class="box1">
    <div id="logo">
        <a href="/"><h1>naura azka.</h1></a>
    </div>
    <div class = "menu-toggle"></div>
    <nav class="navbar">
        <ul class="navbutton">
            <li><a href="/about/">about</a></li>
            <li><a href="/portfolio/">portfolio</a></li>
            <li><a href="/contact/">contact</a></li>
            <li><a href="/post_schedule/">schedule</a></li>
        </ul>
    </nav>
    <div class="clearfix"></div>
</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function(){
    $('.menu-toggle').click(function(){
    $('.menu-toggle').toggleClass('active')
    $('.navbar').toggleClass('active')
    })
    })
    </script>

    <div class="row sched" style="background: #fbf4ec">
        <div class = "col-md-3">
        </div>
        <div class="col-md-6">
            <h1 id="exp-ttl" > A D D &nbsp S C H E D U L E</h1>
        </div>
    </div>

<div class = "schedule2">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form method = "POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button type="submit" class="btn btn-success" style="margin-bottom: 15px">Create Event</button>
                <br>
                <a href="/post_schedule/"><button type="button" class= "btn btn-secondary btn-lg btn-sm" style="margin-bottom: 30px">See my Schedule</button></a>

            </form>
        </div>
        <div class="col-md-3"></div>
    </div>


</div>


</body>
<footer>
    <div class="footer-main-div">
        <div class="row">
            <div class="col-md-12">
                <h1>naura azka.</h1>
            </div>
        </div>

        <div class="footer-socmed">
            <ul>
                <li><a href="https://twitter.com/naurazkah/" target="blank"><img src="{% static 'images/twitter.png' %}"></a></li>
                <li><a href="https://www.instagram.com/naurazka/" target="blank"><img src="{% static 'images/instagram-logo.png' %}"></a></li>
                <li><a href="https://www.linkedin.com/in/naura-azka-032631180/" target="blank"><img src="{% static 'images/linked-in-logo-of-two-letters.png' %}"></a></li>
            </ul>
        </div>
    </div>
</footer>

</html>